[user]
	name = Tieme van Veen
	email = user@example.com

[core]
	mergeoptions = --no-edit
	excludesfile = /Users/username/.gitignore_global
	editor = subl -n -w
	trustctime = false

[apply]
	whitespace = nowarn

[branch "master"]
	remote = origin
	merge = refs/heads/master

[merge]
	tool = opendiff

[push]
	default = current

[diff]
	tool = opendiff

[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	ui = true
	pager = true

[alias]
	st = status 
	br = branch -a -vv
	co = checkout
	addp = add --patch
	ci = commit -m
	amend = commit --amend
	pick = cherry-pick
	graph = log --graph --all

	filehist = log --graph --stat
	lg2 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' -n 30 --all
	hist = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%n''' --all
	hist2 = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ai%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	histbr = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%n'''
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
[rerere]
	enabled = true
